.navbar {
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px 0;
}

.navbar-left {
    float: left;
    margin-left: 20px;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.container {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 55px;
    background: linear-gradient(#dd3333, #d6cabf);
    width: 49%;
    border-radius: 15px;
    margin-top: 132px;
}



input[type="email"] {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 10px;
}



.recover-btn {
    background-color: #e28a61;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 15px;
}

.recover-btn:hover {
    background-color: #a85c39;

}

.confirmation {
    margin-top: 20px;

}

.container h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text{
    margin-bottom: 13px;
}